<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ZOOM Clone </title>
    <script src="https://kit.fontawesome.com/6a61c3b3bd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="script.js"></script>
</head>
<body class="m-0 p-0">
    
    <main class="flex h-screen">
        
        <div class="left flex flex-col w-5/6">

            <div class="main_videos flex grow bg-slate-900 justify-center items-center ">
                <div id="video-grid" class="border-solid border-2 border-sky-500 flex justify-center p-1">
            
                </div>

            </div>

            <div class="main_controls flex bg-gray-900 text-white p-1 justify-between">
                <div class="blocks flex">
                    <div class="flex flex-col justify-center items-center px-8 py-10 min-w-80 cursor-pointer hover:text-[#343434]">
                        <i class="fa-solid fa-microphone"></i>
                        <span>Mute</span>

                    </div>
                    <div class="flex flex-col justify-center items-center px-8 py-10 min-w-80 cursor-pointer">
                        <i class="fa-solid fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="block flex">
                    <div class="flex flex-col justify-center items-center px-8 py-10 min-w-80 cursor-pointer">
                        <i class="fa-solid fa-shield-alt"></i>
                        <span>Security</span>

                    </div>
                    <div class="flex flex-col justify-center items-center px-8 py-10 min-w-80 cursor-pointer">
                        <i class="fa-solid fa-user-friends"></i>
                        <span>Participants</span>

                    </div>
                    <div class="flex flex-col justify-center items-center px-8 py-10 min-w-80 cursor-pointer">
                        <i class="fa-solid fa-comment-alt"></i>
                        <span>Chat</span>

                    </div>
                </div>
                <div class="block flex">
                    <div class="flex flex-col justify-center items-center px-8 py-10 min-w-80 cursor-pointer">
                        <i class="fa-solid fa-phone-slash text-red-600"></i>
                        <span class="text-red-200 font-medium">Leave Meeting</span>
                    </div>
                </div>

            </div>

        </div>


        <div class="right w-2/12 bg-gray-700 text-white">
            <div class="main_header">
                <h6>Chat</h6>
            </div>
        </div>
    </main>

</body>
</html>