<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ZOOM Clone </title>
    <script src="https://kit.fontawesome.com/6a61c3b3bd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="script.js"></script>
</head>
<body class="m-0 p-0">
    
    <main class="flex h-screen">
        
        <div class="left flex flex-col w-5/6">

            <div class="main_videos flex grow bg-slate-900 justify-center items-center ">
                <div id="video-grid" class="border-solid border-2 border-sky-500 flex justify-center p-1">
            
                </div>

            </div>

            <div class="main_controls flex bg-gray-900 text-white p-1 justify-between">
                <div class="block flex">
                    <div class="main_mute_button flex flex-col justify-center items-center px-6 py-2 min-w-80 cursor-pointer hover:bg-gray-800 rounded-md" onclick="muteUnmute()">
                        <i class="fa-solid fa-microphone-lines"></i>
                        <span>Mute</span>

                    </div>
                    <div class="main_video_button flex flex-col justify-center items-center px-6 py-2 min-w-80 cursor-pointer hover:bg-gray-800 rounded-md" onclick="playStop()">
                        <i class="fa-solid fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="block flex">
                    <div class="flex flex-col justify-center items-center px-6 py-2 min-w-80 cursor-pointer hover:bg-gray-800 rounded-md">
                        <i class="fa-solid fa-shield-alt"></i>
                        <span>Security</span>

                    </div>
                    <div class="flex flex-col justify-center items-center px-6 py-2 min-w-80 cursor-pointer hover:bg-gray-800 rounded-md">
                        <i class="fa-solid fa-user-friends"></i>
                        <span>Participants</span>

                    </div>
                    <div class="flex flex-col justify-center items-center px-6 py-2 min-w-80 cursor-pointer hover:bg-gray-800 rounded-md">
                        <i class="fa-solid fa-comment-alt"></i>
                        <span>Chat</span>

                    </div>
                </div>
                <div class="block flex">
                    <div class="flex flex-col justify-center items-center px-6 py-2 min-w-80 cursor-pointer hover:bg-gray-800 rounded-md">
                        <i class="fa-solid fa-phone-slash text-red-600"></i>
                        <span class="text-red-200 font-medium">Leave Meeting</span>
                    </div>
                </div>

            </div>

        </div>


        <div class="right w-2/12 bg-gray-700 text-white flex flex-col">
            <div class="main_header">
                <h6 class="p-5 text-center font-bold">CHAT</h6>
            </div>
            <div class="main_chat_window grow overflow-y-auto">
                <ul class="messages p-3 items-left">

                </ul>
            </div>
            <div class="main_message_container w-full px-2.5 py-4 flex">
                <input id="chat_messages" type="text" placeholder="Type message here..." class="w-full grow bg-transparent border-none text-[#F5F5F5]" />
            </div>
        </div>
    </main>

</body>
</html>